{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags static wagtailmetadata_tags %}

{% block meta_tag %}
    {% meta_tags %}
{% endblock %}



{% block content %}



     {% include 'includes/breadcrump/breadcrum-item.html' %}


    {% image self.image fill-1920x600 as hero_img %}


    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog__meta">
                    {% if page.authors %}
                        <div class="blog__avatars">
                            {% for author in page.authors %}
                                <div class="blog__author">{% image author.image fill-50x50-c100 class="blog__avatar" %}
                                    {{ author.first_name }} {{ author.last_name }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                {{ page.body }}


            </div>
        </div>
    </div>
{% endblock content %}
