{% extends 'base.html' %}
{% load wagtailimages_tags wagtailcore_tags static i18n %}

{% block content %}
    {% if page.featured_section_1 %}
        <!-- Buy -->
        <div class="buy-area mt-100">
            <div class="buy-shape">
                <img src="{% static 'assets/images/shape3.png' %}" alt="Shape">
            </div>
            <div class="container-fluid p-0">
                <div class="row m-0 align-items-center">

                    <div class="col-lg-6 p-0">
                        <div class="buy-img">
                            {% if page.image %}
                                <figure>{% image page.image fill-800x580-c100 %}</figure>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-6 p-0">
                        <div class="buy-content ptb-100">
                            <h1>{{ page.hero_text }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Buy -->
        <!-- Blog -->
        <section class="blog-area pt-100 pb-70">
            <div class="container">
                {% if page.featured_section_1 %}
                    <div class="section-title">
                        <h2>{{ page.featured_section_1_title }}</h2>
                    </div>
                    <div class="row justify-content-center">
                        {% for childpage in page.featured_section_1.specific.children|dictsortreversed:'id'|slice:"3" %}
                            {% include 'includes/card/card_item.html' with page=childpage %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section>
        <!-- End Blog -->
        <!-- Products -->
        <div class="products-area pb-70">
            <div class="container">
                {% if page.featured_section_2 %}
                    <div class="section-title">
                        <h2>{{ page.featured_section_2_title }}</h2>
                    </div>
                    <div class="row">
                        {% for childpage in page.featured_section_2.specific.children|dictsortreversed:'id'|slice:"3" %}
                            {% include 'includes/card/card_item.html' with page=childpage %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- End Products -->

          <!-- Blog -->
        <section class="blog-area pt-100 pb-70">
            <div class="container">
                {% if page.featured_section_3 %}
                    <div class="section-title">
                        <h2>{{ page.featured_section_3_title }}</h2>
                    </div>
                    <div class="row justify-content-center">
                        {% for childpage in page.featured_section_3.specific.children|dictsortreversed:'id'|slice:"4" %}
                            {% include 'includes/card/card_item_2.html' with page=childpage %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </section>
    {% endif %}
{% endblock %}